html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-size: 0;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

/* -----------------------------------------------*/

.main {
  width: 100%;
  max-width: 1440px;
  height: 800px;  
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.main__title {
  display: inline-block;
  font-family: "Philosofer Regular";
  font-size: 140px;
  line-height: 1.09;
  letter-spacing: 50.4px;
  color: #ffffff;
  width: 976px;
  height: 130px;  
  position: absolute;
  top: 324px;
  left: 223px;  
  margin: 0;  
  z-index: 7;
}

/* левый и правый блоки на заднем фоне*/

.main__left_block {
  width: 58%;
  max-width: 720px;
  height: 100%;
  background: linear-gradient(to right, rgb(254, 254, 254) 0%, rgb(248, 248, 248) 20%, rgb(244, 244, 244) 100%);  
}

.main__right_block {
  width: 50%;
  max-width: 720px;
  height: 100%;  
}

/*Главный блок слайдера*/

.main__slider_block {
  width: 90%;
  max-width: 1280px;
  height: 577px;
  position: absolute;
  top: 97px;  
  left: 80px;
 background:  transparent;
}

