// Слайды

.slider_block__item {  
  position: absolute;

  .item__img {
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(247,230,17,.8);
    z-index: 4;
  }

  &--left {
    width: 800px;
    height: 525px;
    top: 0;
    left: 0;
    z-index: 2;          
  }

  &--right {
    width: 860px;
    height: 490px;
    bottom: 0;
    right: 0;    
    z-index: 3;    
  }

  &--back {  
    animation-duration: 3s;
    animation-name: back;
    top: 0;  
    left: 0;
    width: 800px; 
    height: 525px;
    z-index: 2;
  }

  &--front {
    animation-duration: 3s;
    animation-name: front;
    top: 87px;
    left: 350px;
    width: 860px;
    height: 490px;
    z-index: 3;
  }
}

//блок контроля слайдера

.slider_block__control_slider {
  height: 36px;
  width: 206px;
  display: flex;
  justify-content: space-between;
  top: 392.3px;
  right: 164px;
  position: absolute;
  z-index: 6;

  // Кнопки управления слайдером

  .control_slider__btn {
    width: 25px;
    height: 25px;
    font-size: 0;
    padding: 0;
    border: none;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000; 
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    opacity: .4;
  
    &:hover {
      opacity: .7;
    }
  
    &:active {
      opacity: .3;
    }
  
    &--left {
      transform: rotate(135deg)
    }
  
    &--right {
      transform: rotate(-45deg);
    }
  }
}

// Блок с текстом Урал

.slider_block__block_ural {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 119px;
  left: 506px;
  border: solid 1px #000000;
  border-radius: 50%;
  z-index: 15;


  .block_ural__text {
    font-family: "Geometria";
    width: 55px;
    font-size: 17px;
    letter-spacing: 2.14px;
    line-height: 1.24;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 3px 3px;
  }
}

// Блок с лозой

.slider_block__block_img {  
  width: 160px;
  height: 112px;
  margin: 0 55px -20px 0;
  z-index: 100;
  position: relative;

  &::before {
    content: "";
    width: 213px;
    height: 10px;
    opacity: 0.75;
    background-color: #f7e611;
    position: absolute;
    bottom: -22px;
    left: 0;
  }
}


/*Анимация слайдов*/

@keyframes back {
  0% { 
    top: 87px;
    left: 420px;
  }
  50% {
    top: 0;
    left: 420px;
    z-index: 2;
    width: 800px; 
    height: 525px;
  } 

  100% {
    top: 0;  
    left: 0;   
  }
}

@keyframes front {
 0% {
  top: 0;
  left: 0;
 }
  50% {
  top: 87px;
  left: 0;
  z-index: 3;
  width: 860px;
  height: 490px;
 } 
 100% {
  top: 87px;
  left: 350px;    
 } 
}

@media (min-width: 1440px) {
  .slider_block__item {
    &--back {
      top: 0;  
      left: 0;      
    }

    &--front {      
      top: 87px;
      left: 420px;      
    }
  }

/*Анимация слайдов*/

  @keyframes back {
    0% { 
      top: 87px;
      left: 420px;
    }
    50% {
      top: 0;
      left: 420px;
      z-index: 2;
      width: 800px; 
      height: 525px;
    } 
    100% {
      top: 0;  
      left: 0;   
    }
  }

  @keyframes front {
    0% {
      top: 0;
      left: 0;
    }
    50% {
    top: 87px;
    left: 0;
    z-index: 3;
    width: 860px;
    height: 490px;
    } 
    100% {
      top: 87px;
      left: 420px;    
    } 
  }
}



