.slider_block__text {
  @media (min-width: 320px) {
    display: inline-block;
    position: absolute;
    font-family: "Geometria Medium";
    font-size: 60px;
    font-weight: 500;
    -webkit-text-stroke: 1px #000000;
    color: transparent;
  }

  @media (min-width: 1320px) {
    width: 61px;
    height: 101px;
    font-size: 80px;
    color: #ffffff;
  }  

  &--a {
    @media (min-width: 320px) {
      top: 229px;
      right: 64%;
      z-index: 10;
    }
    @media (min-width: 1320px) {
      top: -51px;
      right: 318px;
      z-index: 1
    }
  }

  &--f {
    @media (min-width: 320px) {
      display: none;
    }
    
    @media (min-width: 1320px) {
      display: inline;
      top: 31px;
      right: 143px;
      z-index: 3;
    }
  }

  &--g {
    @media (min-width: 320px) {
      top: 213px;
      right: 39%;
      z-index: 5;
    }
    @media (min-width: 1320px) {
      top: 109px;
      right: 236px;
      color: transparent;
      z-index: 6;
    }
  }

  &--e {
    @media (min-width: 320px) {
      top: 135px;
      right: 20%;
      z-index: 5;
    }

    @media (min-width: 1320px) {
      display: none;
    }
  }
}