// Слайды

.slider_block__item {  
  position: absolute;  

  // Картинка
  .item__img {
    @media (min-width: 320px) {
      width: 100%;
      height: 100%;
    }          
  } 

  &::before {
    @media (min-width: 320px) {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      background-color: rgba(247,230,17,.6);
    }

    @media (min-width: 1320px) {
      background-color: rgba(247,230,17,.8);
    }    
  }

  &--left {   
    @media (min-width: 320px) {       
      width: 280px;
      height: 184px;
      top: 83px;
      left: -44px;
    }

    @media (min-width: 620px) {      
      width: 89%;
      height: 260px;
    }
    
    @media (min-width: 1320px) {
      width: 62.5%;
      height: 525px;      
      top: auto;
      left: auto;
      bottom: 9%;
      right: 37.5%;
      z-index: 2;  
    }

    &::before {
      @media (min-width: 320px) {
        background-color: rgba(247,230,17,.8);
      }
    }            
  }

  &--right {
    @media (min-width: 320px) {      
      width: 559px;
      height: 318px;
      bottom: 0;      
      right: -118px;
      z-index: 5;
    }

    @media (min-width: 620px) {
      width: 100%;
    }

    @media (min-width: 1320px) {
      width: 67%;
      height: 490px;      
      bottom: 0;
      right: 0;     
    }
  }

  &--back {
    @media (min-width: 1320px) {
      animation-duration: 3s;
      animation-name: back;
      bottom: 9%;
      right: 37.5%;
      width: 800px; 
      height: 525px;
      z-index: 2;
    }    
  }

  &--front {
    @media (min-width: 1320px) {
      animation-duration: 3s;
      animation-name: front;
      bottom: 0;
      right: 0;
      width: 860px;
      height: 490px;
      z-index: 3;
    }    
  }
}

.slider_block__tagline {
  @media (min-width: 320px) {      
    width: 96px;
    height: 20px;
    font-family: "Philosofer Italic";
    font-size: 9px;  
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    opacity: 0.5;
    z-index: 10;     
    top: 232px;
    left: -16px;
  }

  @media (min-width: 1320px) {          
    font-size: 9px;        
    top: 380px;
    left: 202px;
    width: 97px;
    height: 14px;
    transform: rotate(-90deg);
  }
}

// Блок управления слайдером

.slider_block__control_slider {
  @media (min-width: 320px) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 0 7.5% 0 8%;
    top: 399px;
    left: 0px;
    z-index: 100;
  }

  @media (min-width: 620px) {
    width: 84%;
    left: 123px
  }

  @media (min-width: 1320px) {    
    height: 36px;
    width: 206px;    
    top: 379px;    
    left: auto;
    right: 166px;
    padding: 0; 
    z-index: 100;  
  }

  @media (min-width: 1440px) {
    top: 392px;
    left: auto;    
  }

  // Кнопки управления слайдером

  .control_slider__btn {
    @media (min-width: 320px) {
      width: 25px;
      height: 25px;
      font-size: 0;
      padding: 0;
      border: none;
      border-bottom: 4px solid #000000;
      border-right: 4px solid #000000; 
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      opacity: .4;
    
      &:hover {
        opacity: .7;
      }
    
      &:active {
        opacity: .3;
      }
    
      &--left {
        transform: rotate(135deg)
      }
    
      &--right {
        transform: rotate(-45deg);
      }
    }
  } 
}

// Блок с текстом Урал

.slider_block__block_ural {
  @media (min-width: 320px) {
    display: none;
  }

  @media (min-width: 1320px) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    top: 119px;
    left: 506px;
    border: solid 1px #000000;
    border-radius: 50%;
    z-index: 15;
  }

  .block_ural__text {
    font-family: "Geometria";
    width: 55px;
    font-size: 17px;
    letter-spacing: 2.14px;
    line-height: 1.24;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 3px 3px;
  }
}

// Блок с лозой

.slider_block__block_img {  
  @media (min-width: 320px) {    
    width: 109px;
    height: 54px;   
    z-index: 100;
    margin: 0 51px 8px 0;  
    
    .block_img__img {
      width: 159px;
      height: 84px;
    }
  }

  @media (min-width: 1320px) {    
    width: 160px;
    height: 112px;
    margin: 0 56px -19px 0;
    z-index: 100;
    position: relative;

    &::before {
      content: "";
      width: 213px;
      height: 10px;
      opacity: 0.75;
      background-color: #f7e611;
      position: absolute;
      bottom: -22px;
      left: 0;
    }

    .block_img__img {
      width: 213px;
      height: 124px;
    }
  }   
}


/*Анимация слайдов*/

@keyframes back {
  0% { 
    bottom: 0;
    right: 0;
  }
  50% {
    bottom: 0;
    right: 37.5%;
    z-index: 2;
    width: 800px; 
    height: 525px;
  } 

  100% {
    bottom: 9%;
    right: 37.5%;   
  }
}

@keyframes front {
  0% {
  bottom: 9%;
  right: 37.5%;
  }
  50% {
    bottom: 9%;
    right: 0;
    z-index: 3;
    width: 860px;
    height: 490px;
  } 
  100% {
  bottom: 0;
  right: 0;    
  } 
}